

<style>
    h1,h2,h3,p {
        color: #1b1e21;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: Arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
</style>

<div class="card">
    <h3 style="text-align:center">User Profile</h3>


    <img src="{{ asset(user.photo) }}" alt="{{ user.username }}" style="width:100%">
    <h3>{{ 'Bienvenue'|trans }}: {{ user.username }}</h3>
    <p >{{ 'Votre email'|trans }}: {{ user.email }}</p>
    <h6>Edit <a href="{{ path("fos_user_profile_edit") }}" style="color:#ffbe27">profile</a></h6>
    <h6> <a href="{{ path("fos_user_profile_commande") }}" style="color:#ffbe27">Mes Commandes</a></h6>

</div>
