<style>
    img{
        border-radius: 5%;
    }
    h3,p{
        color: whitesmoke;
    }
</style>
<br />
<h2 align="center">Les Trophets Acquis</h2>
{% set len = trophets|length %}
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        {% for i in 0..(len-1) %}
        <li data-target="#demo" style="background-color: #fec139" data-slide-to="{{ i }}" {% if i==0 %}class="active"{% endif %}></li>
        {% endfor %}
    </ul>
    <div class="carousel-inner">
        {% set i = 0 %}
        {% for trophet in trophets %}
            {% if trophet.targetscore <= user.score %}
        <div class="carousel-item{% if i==0 %} active{% endif %}">
            <div align="center" >
                <h3 style="color: red;">{{ trophet.nom }}</h3>
                <h5 style="color: black;">{{ trophet.description }}</>
            </div>
            <img style="margin-left: 190px"  src="{{  asset(trophet.image) }}" alt="{{ trophet.nom }}" width="400" height="200">

        </div>
    {% set i = i + 1 %}
            {% endif %}
    {% endfor %}
    </div>
</div>
<br />
<h4 align="center">Vous avez : {{ i }} trophets sur {{ len }} disponibles</h4>